INSERT INTO [dbo].[profiles]
           ([version]
		   ,[code]
		   ,[name]
		   ,[description]
           ,[deleted]
           ,[date_created]
           ,[user_created])
     VALUES
           (0, 'Sopp Optical', 'Sopp Optical', 'Sopp Optical', 0, CURRENT_TIMESTAMP, 1)
GO



INSERT INTO [dbo].[user_groups]
           ([version]
           ,[code]
           ,[name]
           ,[description]
           ,[deleted]
           ,[date_created]
           ,[user_created])
     VALUES
           (0, 'ADMINGROUP', 'Administrator Group', 'Administrator Group', 0, CURRENT_TIMESTAMP, 1)
GO

INSERT INTO [dbo].[user_group_accesses]
           ([version]
           ,[view_rights]
           ,[add_rights]
           ,[update_rights]
           ,[delete_rights]
           ,[print_rights]
		   ,[post_rights]
           ,[deleted]
           ,[date_created]
           ,[user_created]
           ,[user_group_id]
           ,[module_id])
SELECT 0 AS version, 1, 1, 1, 1, 1, 1, 0, CURRENT_TIMESTAMP, 1, user_groups.id, modules.id
FROM user_groups, modules
GO

INSERT INTO [dbo].[users]
           ([version]
           ,[username]
           ,[password]
           ,[name]
		   ,[active]
           ,[deleted]
           ,[date_created]
           ,[user_created])
     VALUES
           (0, 'admin', '/qNPNZPdjdUPd47vKE/Ccw==', 'Administrator', 1, 0, CURRENT_TIMESTAMP, 1)
GO


INSERT INTO [dbo].[user_roles]
           ([version]
           ,[deleted]
           ,[date_created]
           ,[user_created]
           ,[user_id]
           ,[user_group_id])
     VALUES
           (0, 0, CURRENT_TIMESTAMP, 1, 1, 1)
GO

INSERT INTO [dbo].[configurations]
           ([version]
		   ,[currency_symbol]
           ,[quantity_decimal]
           ,[monetary_decimal]
		   ,[date_pattern]
		   ,[time_pattern]
		   ,[timestamp_pattern]
		   ,[cache_path]
           ,[date_created]
           ,[user_created]
           ,[deleted])
     VALUES
           (0, 'RM', 0, 2, 'dd/MM/yyyy', 'hh:mma', 'dd/MM/yyyy HH:mm', 'C:/Report/', CURRENT_TIMESTAMP, 1, 0)
GO

INSERT INTO [dbo].[taxes]
           ([version]
           ,[code]
           ,[name]
           ,[description]
           ,[tax_rate]
           ,[active]
           ,[date_created]
           ,[user_created]
           ,[deleted])
     VALUES
           (0, 'NA', 'No Tax', 'No Tax', 0, 1, CURRENT_TIMESTAMP, 1, 0)
GO